language: c
sudo: false
before_install:
  - source <(curl -SLs https://raw.githubusercontent.com/chatelao/travis-ci-arduino/any_arduino_version/install.sh)
install:
  - arduino --install-library "Phant,Adafruit ESP8266,DHT sensor library"
script:
  - build_platform uno
  - build_platform leonardo
  - build_platform esp8266
notifications:
  email:
    on_success: change
    on_failure: change
